* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}
@font-face {
  font-family:"genuine";
  src: url("fonts/GENUINE.ttf") format("truetype");
}

@font-face {
  font-family: "sm";
  src: url("fonts/monumentextended-ultrabold-webfont.woff2"), format("woff2");
  src: url("fonts/monumentextended-ultrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "titles";
  src: url("fonts/monumentextended-regular-webfont.woff2"), format("woff2");
  src: url("fonts/monumentextended-regular-webfont.woff") format("woff");
}

.center {
  background-image: url("assets/CS-GO-wallpaper-HD-Fnatic-champion_hu4b6056254d598eda2a101c6c6ee9c68a_592457_1920x1080_resize_q75_lanczos\ \(7\)\ \(1\).jpg");
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  width: 100%;
}

h1 .special{
  font-family: sm;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10rem;
  font-size: 4rem;
}

h1 {
  font-family: sm;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  font-size: 4rem;
}

@media only screen and (max-width : 1024px) {
  h1{
    font-size: 2rem;
  }
}

.games {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.games .item {
  font-family: titles;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding-top: 3rem;
  position: relative;
}

.games .test {
  transition: 0.2s ease-in-out;
  width: 150px;
}

.games .test:hover {
  transform: scale(1.02);
}

#particles-js {
  background-color: rgb(15, 23, 42);
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: 50% 50%;

}

.blue h2 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  color: white;
  position: relative;
  bottom: 20rem;
  text-align: center;
  position: absolute;
  bottom: 50rem;
}

.valorantTitle {
  font-family: "Montserrat", sans-serif;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  color: rgb(195, 46, 46);
  padding-top: 1rem;
  font-size: 2rem;
  position: relative;
}

#getInfo{
  padding-top: 0.7rem;
}

.links{
  display: flex;
  justify-content: center;
  position: relative;
}

ul{
  list-style: none;
}

.links ul li{
  
}

#extra-info-div{
  position: relative;
}

.logo{
  display:flex;
  align-items:center;
  justify-content:center;
  top: 100vh;
  position: absolute;
  background-color: #ff4654;
  height: 90vh;
  width: 100%;
}

.blue{
  position: absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  top: 190vh;
  height: 100vh;
  width: 100%;
  background-color: rgb(15, 23, 42);
}

.blue p{
  
  font-family: sm;
  color: white;
  font-size: 2rem;
}

#logo-img{
  width: 30%;
}

#omen{
  width: 37%;
  position: relative;
  position: absolute;
  right: 17rem;
  top: 7rem;
}

.logo p{
  font-family:"genuine";
  color: white;
  font-size: 6rem;
  position: relative;
  right: 30rem;
  bottom: 16rem;
  top: 1%;
}